<div class="admin_hi"></div>
<div class="adminPanel">
<a href="/adminIndex">Admin frontpage</a>
<a href="/opretAdmin">Opret ny admin</a>
<a href="/adminOpret">Opret ny annonce</a>
<a href="/adminRediger">Rediger annoncer</a>
<a href="/">Tilbage til forsiden</a>
</div>