<div class="adminPanel">
<a href="/adminIndex">Admin frontpage</a>
<a href="/opretAdmin">Opret ny admin</a>
<a href="/adminOpret">Opret nyt event</a>
<a href="/adminRediger">Rediger event</a>
<a href="/">Tilbage til forsiden</a>
</div>