<footer>
    <p>Oluf Graversvejs Kontorfællesskab</p>
    <p>Oluf Graversvej 42, 2. sal</p>
    <p>2200 København N</p>
    <p>Tlf.: 25 648 194</p>
    <p>E-mail: kontor@vlp-udlejning.dk</p>
</footer>