<header>
<nav>
    <a href="/forside">Forside</a>
    <a href="/">Annoncer</a>
    <a href="/nyheder">Nyheder</a>
    <a href="/kontakt">Kontakt os</a>
    <a href="/adminLogin">ADMIN</a>
    <form class="searchBar" method="get" action="/enkelside">
        <input type="text" placeholder="Søg på siden" name="search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</nav>
</header>