<% include partials/head %>
<% include partials/header %>
<% include partials/adminPanel %>


<h1>Admin frontpage</h1>
<img src="/img/admin-logo.png" alt="">

<% include partials/footer %>
<% include partials/after-footer %>