<% include partials/head %> 
<% include partials/header %>
<div class="booking">
    <img src="/img/lokale.jpg" alt="mødelokale">
</div>
<div class="booking_knap">
    <a href="https://www.supersaas.dk/schedule/stylez1338/M%C3%B8delokale">Book mødelokalet her</a>
</div>


<% include partials/footer %> 
<% include partials/after-footer %>