<% include partials/head %> 
<% include partials/header %>
<div id="kontaktWrap">
<div class="kontaktImg">
    <img src="/img/mødelokale.jpg" alt="">
</div>
<div class="kontaktInfo">
    <h2>Oluf Graversvejs Kontorfællesskab</h2>
    <p>Oluf Graversvej 42, 2. sal</p>
    <p>2200 København N</p>
    <p>Tlf.: 25 648 194</p>
    <p>E-mail: kontor@vlp-udlejning.dk</p>
</div>
</div>


<% include partials/footer %> 
<% include partials/after-footer %>