<% include partials/head %>
<% include partials/header %>

<form action="/book">
    <input type="text" name="navn">
    <input type="text" name="nummer">
    <input type="text" name="email">
    <button type="submit">Send</button>
</form>



<% include partials/footer %>
<% include partials/after-footer %>